
# these values exist for security reasons
LIMIT_SESSION_DURATION=1h # supports m(inutes), h(ours), d(ays) and w(eeks)
LIMIT_LOGIN_TRIES=3 # number of allowed login attempts
LIMIT_LOGIN_TIRES_DURATION=15m # prevent logging in until duration expires

ENABLE_ACCESS_TOKEN=false # set this to true, to disable authentication with a password (USE INCASE OF DEVELOPMENT OR SITE IS PROTECTED)
ACCESS_TOKEN=changeme # login password

SESSION_TOKEN=changeme # express session token

UNDER_PROXY=false # set to true if behind a reverse proxy
PORT=3000

NODE_ENV=prod # [prod, dev]