
<div class="add-container flex flex-col">
    <div class="flex flex-row">
        <div class="add-section">
            <h2>quick add</h2>
            <!-- ips -->
            <form method="POST" action="/d/ip" class="flex flex-row">
                <select name="type">
                    <option value="drop">drop</option>
                    <option value="reject">reject</option>
                    <option value="accept">accept</option>
                </select>
                <p>—</p>
                <input type="text" name="ip" id="ip" placeholder="ip (192.168.0.1)">
                <input type="submit" value="add">
            </form>

            <!-- ports -->
            <form method="POST" action="/d/port" class="flex flex-row">
                <select name="type">
                    <option value="drop">drop</option>
                    <option value="reject">reject</option>
                    <option value="accept">accept</option>
                </select>
                <p>—</p>

                <input type="text" name="port" id="port" placeholder="port (8080)">
                <p>/</p>
                
                <select name="protocol">
                    <option value="tcp">tcp</option>
                    <option value="udp">udp</option>
                    <option value="icmp">icmp</option>
                </select>
                <input type="submit" value="add">
            </form>
        </div>

        <div class="add-section">
            <h2>target</h2>
            <form method="POST" action="/d/target" class="flex flex-row">
                <select name="zone">
                    <%# zones.forEach(zone => { %>
                        <option value="<%= zone %>"><%= zone %></option>
                    <%# }) %>
                </select>
                <p>—</p>

                <select name="type">
                    <option value="accept">accept</option>
                    <option value="drop">drop</option>
                    <option value="reject">reject</option>
                </select>
            </form>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="add-section">
            <h2>bulk ips</h2>
            <form method="POST" action="/d/ip-bulk" class="flex flex-col">
                <textarea name="ips" id="ips" rows="10" placeholder="example: 192.168.0.0/24 192.168.0.1"></textarea>
                <div class="flex flex-row">
                    <select name="type">
                        <option value="drop">drop</option>
                        <option value="reject">reject</option>
                        <option value="accept">accept</option>
                    </select>
                    <select name="seperator">
                        <option value="newline">newline (\n)</option>
                        <option value="semicolon">semicolon (;)</option>
                        <option value="comma">comma (,)</option>
                    </select>
                    <input type="submit" value="add">
                </div>
            </form>
        </div>

        <div class="add-section">
            <h2>rich rule</h2>
            <form method="POST" action="/d/rich-rule-creator">
                <select name="family">
                    <option value="ipv4">ipv4</option>
                    <option value="ipv6">ipv6</option>
                </select>
                <select name="type">
                    <option value="drop">drop</option>
                    <option value="reject">reject</option>
                    <option value="accept">accept</option>
                </select>
                <select name="protocol">
                    <option value="tcp">tcp</option>
                    <option value="udp">udp</option>
                    <option value="icmp">icmp</option>
                </select>

                <div>
                    <input type="text" name="sourceIp" placeholder="source ip (from)">
                    <input type="text" name="destinationIp" placeholder="destination ip (to)">
                </div>
                <div>
                    <input type="text" name="sourcePort" placeholder="source port (from)">
                    <input type="text" name="destinationPort" placeholder="destination port (to)">
                </div>

                <input type="text" name="limit" placeholder="limit (5/s, 10/m, 15/h, ...)">

                <input type="submit" value="add">
            </form>
        </div>
    </div>
</div>

