<div>
    <div class="flex flex-row">
        <p>filter —</p>
        <select name="" id="">
            <option value="">drop</option>
            <option value="">...</option>
            <option value="">...</option>
        </select>
        <p>—</p>
    </div>
    <div class="scrolling">
        <% if (richrules && richrules[0] != "") { %>
            <% richrules.forEach(richrule => { %>
                <p onclick="openEditModal(`<%- richrule.replace(/"/g, "'") %>`)"><%- 
                    richrule
                        .replace("accept", "<span class='green bold'>accept</span>")
                        .replace("reject", "<span class='red bold'>reject</span>")
                        .replace("drop", "<span class='red bold'>drop</span>")
                %></p>
            <% }) %>
        <% } else { %>
            <p>none found — try making some..?</p>
        <% } %>
    </div>
</div>